<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Accesso Casa</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form *ngIf="!mfaRequired" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="!loginForm.valid">
          Entra
        </button>
      </form>

      <div *ngIf="mfaRequired">
        <p>Inserisci il codice di sicurezza inviato al tuo telefono.</p>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Codice SMS</mat-label>
          <input matInput [(ngModel)]="verificationCode" maxlength="6">
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" (click)="verifyMfa()">
          Conferma Accesso
        </button>
      </div>
      <!--
      <div class="register-link">
        <span>Non hai un account? </span>
        <button mat-button color="accent" routerLink="/register">Registrati qui</button>
      </div>
    -->
    </mat-card-content>
  </mat-card>
</div>

<div id="recaptcha-container"></div>